@using System.Security.Claims
@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <span>
                        Welcome
                        @(context.User.Claims.FirstOrDefault(x => x.Type == "name") == null ? "" : context.User.Claims.FirstOrDefault(x => x.Type == "name")!.Value)
                        @* @(context.User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Name) == null ? "" : context.User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Name)!.Value) *@
                    </span>
                    @* <span>Welcome @context.User.Identity.Name</span> *@
                </Authorized>
                <NotAuthorized>
                </NotAuthorized>
            </AuthorizeView>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
