@if (notAuthorized)
{
    <div class="alert alert-danger">
        <p>You have not permission to access the requested page</p>
    </div>
}

@code {
    [CascadingParameter]
    public Task<AuthenticationState> _authState { get; set; }

    private bool notAuthorized;

    protected override async Task OnInitializedAsync()
    {
        var authState = await _authState;

        if (authState.User.Identity is null || authState.User.Identity.IsAuthenticated == false)
        {
            var returnUrl = _navigationManager.ToBaseRelativePath(_navigationManager.Uri);
            if (string.IsNullOrEmpty(returnUrl))
            {
                _navigationManager.NavigateTo("uth/login");
            }
            else
            {
                _navigationManager.NavigateTo($"auth/login?returnUrl={returnUrl}");
            }
        }
        else
        {
            notAuthorized = true;
        }
    }
}
