@page "/coupons"
@inject IHttpClientFactory ClientFactory

<h3>Index</h3>

@foreach (var item in _items)
{
    <p>@item.Id</p>
}

@code {
    private HttpClient _client;
    private List<CouponDto>? _items = new();

    protected override async Task OnInitializedAsync()
    {
        _client = ClientFactory.CreateClient("CouponApiClient");
        var x = await _client.GetFromJsonAsync<List<CouponDto>>("");
        // _items = await _client.GetFromJsonAsync<List<CouponDto>>("");

        // var response = await _couponService.Get();
        // if (response is not null && response.IsSuccessful)
        // {
        //     _items = JsonConvert.DeserializeObject<List<CouponDto>>(Convert.ToString(response.Result)!)!;
        // }
    }
}
